{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="justify-content-center w-50">
    <div class="mt-3">
        <h1 class="mb-0">Register</h1>
        <p class="lead">
            Já tem uma conta? <a href="{% url 'profile:login' %}">Ir para página de login</a> 
        </p>
        <form method="post" action="{% url 'profile:create' %}">
            {% csrf_token %}

            {% for field in form_create_user %}
                {{ field|as_crispy_field }}
            {% endfor %}

            {% for field in form_create_profile %}
                {{ field|as_crispy_field }}
            {% endfor %}

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-block btn-lg btn-primary">
                        Registrar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}