{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="col">
        <h1>Login</h1>
        <form action="{% url 'profile:login' %}" method="post">
            {% csrf_token %}
            {{ userlogin|crispy }}
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-lock btn-primary btn-lg">Login</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col">
        <h1>Registrar-se</h1>
        <form action="{% url 'profile:create' %}" method="post">
            {% csrf_token %}
            {{ userregister|crispy }}
            {{ userprofileregister|crispy }}
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-lock btn-primary btn-lg">Registrar</button>
                </div>
            </div>
        </form>

    </div>
</div>

{% endblock content %}

