{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="col">
        <h1>Mudança das informações do usuário</h1>

        <form method="POST" action="{% url 'profile:update' %}">
            {% csrf_token %}
            <h3 class="lead">Informações da conta</h3>
            {{ userdata|crispy }}
            <br>
            <hr>
            <br>
            <h3 class="lead">Informações do perfil</h3>
            {{ userprofile|crispy }}
    
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-block btn-primary btn-lg">
                        Alterar
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock content %}