{% extends 'base.html' %}
{% load static %}
{% load ecfilters %}

{% block content %}

{% if request.session.cart %}
    {% include 'parciais/_cart.html' %}
    <div class="row mt-3">
        <div class="col-lg">
            <p class='lead'>Total no carrinho</p>
    
            <div class='table-responsive'>
                <table class="table">
                    <tr>
                        <td class="font-weight-bold">Total</td>
                        <td>{{ request.session.cart|cart_total|currency }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg mt-auto">
        {% if request.user.is_authenticated %}
        <a class="btn btn-lg btn-block btn-primary" href="{% url 'product:finalize' %}">
            Finalizar a compra
        </a>
        {% else %}
        <a class="btn btn-lg btn-block btn-primary" href="{% url 'profile:create' %}">
            Entrar em minha conta e finalizar
        </a>
        {% endif %}
    </div>
</div>
{% else %}
<div class="row mt-3">
    <div class="col">
        <h3>Seu carrinho de compras está vazio!</h1>
        <p class="lead">Não há produtos no seu carrinho no momento! <a href="{% url 'product:index' %}">Compre em nossa loja.</a></p>
    </div>
</div>
{% endif %}

{% endblock content %}