{% extends 'base.html' %}
{% load static %}
{% load ecfilters %}

{% block content %}

{% if cart %}

{% include 'parciais/_cart.html' %}


<div class="row mt-3">
<div class="col-lg">
    <p class='lead'>Total no carrinho</p>

    <div class='table-responsive'>
        <table class="table">
            <tr>
                <td class="font-weight-bold">Total</td>
                <td>{{ cart|cart_total_value|currency }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="col-lg mt-auto">
    <a class="btn btn-lg btn-block btn-primary" href="{% url 'product:resume' %}">
        Finalizar a compra
    </a>
</div>

{% else %}
<div class="container text-center">
    <h1 class="display-4">Seu carrinho de compras está vazio no momento</h1>
    <p class="lead">Dê uma olhada nos nossos produtos <a href="{% url 'product:index' %}">clicando aqui</a>!</p>
</div>
{% endif %}

{% endblock content %}